<!DOCTYPE html>
<html lang = 'es'>
   <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, user-scalable=n0, initial-scalable=1.0 maximun-scale=1.0, minium-scalable=1.0">	  	  
	  <link rel="stylesheet" href='../static/css/style.css'/>
	  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="../static/css/fontello.css">
	 	 
	  <title>Dashboard</title>
   </head>
   <body>
	<div class="container-fluid">
		
		<div class="row">
			<div class="barra-lateral col-1 col-sm-auto">
				<div class="logo">
					<h2>Fletzi IoT</h2>
				</div>
				<nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
					<a href="#" ><i class="icon-home"></i><span>Dasboard</span></a>
					<a href="#" ><i class="icon-cog"></i><span>Entradas</span></a>
					<a href="#" ><i class="icon-clouds-flash"></i><span>reportes</span></a>
				</nav>
			</div>		
		<main class="main col">				
			<nav id="navbar-example2" class="navbar navbar-light bg-light">
					<a class="navbar-brand"></a>
					<ul class="nav nav-pills">					  
					  <li class="nav-item">
						
					  </li>
					  <li class="nav-item dropdown">
						<li class="img">
							<img src="https://www.instagram.com/p/BkddcLuB2hXGkFzcdvCDLlbmJNsF4USuH2DRHU0/" alt="">
						</li>  
						<a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Administrador</a>
						<div class="dropdown-menu">
						  <a class="dropdown-item" href="#one">one</a>
						  <a class="dropdown-item" href="#two">two</a>
						  <div role="separator" class="dropdown-divider"></div>
						  <a class="dropdown-item" href="#three">three</a>
						</div>
					  </li>
					</ul>
			</nav>
			<div class="row">
				<div class="widget nueva_entrada">
					<h3 class="titulo">Dasboard</h3>
				</div>
				</div>	  
			<div class="row">
				<div class="columna col-lg-7">					
				<div class="contenedor d-flex flex-wrap">
					<div class="card" style="width: 18rem;">
							<div class="card-body">
							  <h5 class="card-title">Temperatura</h5>
							  <img src="http://qbgrow.com/magen/iot-admin/img/senc.svg" alt="Icon Temperatura" class="card-icon">
							  <h3 class="card-subtitle mb-2 text-muted">12.5
									<small>°C</small>
							  </h3>							  
							  <a href="#" class="card-link" {{temp}}>Card link</a>							
							</div>
					</div>
					<div class="card" style="width: 18rem;">
							<div class="card-body">
								  <h5 class="card-title" {{hum}}>Humedad</h5>
								  <h3 class="card-subtitle mb-2 text-muted">82
										<small>%</small>
								  </h3>
								  <img src="http://qbgrow.com/magen/iot-admin/img/senc.svg" alt="Icon Energy" class="card-icon" >	 								  
								  <a href="#" class="card-link">Card link</a>
								  
							</div>
					</div>
					<div class="card" style="width: 18rem;">
							<div class="card-body">
								  <h5 class="card-title">Nivel</h5>
								  <h3 class="card-subtitle mb-2 text-muted">50
										<small>Cm</small>
								  </h3>								  
								  <img src="http://qbgrow.com/magen/iot-admin/img/energy.svg" alt="Icon Energy" class="card-icon" >	 
								  <a href="#" class="card-link">Card link</a>								  
							</div>
					</div>
					<div class="card" style="width: 18rem;">
							<div class="card-body">
								  <h5 class="card-title">Energia</h5>
								  <h3 class="card-subtitle mb-2 text-muted">500
										<small>Watts</small>
								  </h3>								  
								  <img src="http://qbgrow.com/magen/iot-admin/img/energy.svg" alt="Icon Energy" class="card-icon" >	 
								  <a href="#" class="card-link">Card link</a>								  
							</div>
					</div>
					<div class="card">
							<div class="col-lg-12">
								Aqui va la estadistica anual
							</div>
					</div>
				</div>			  	
				</div>
				<div class="columna col-lg-5">
						<div class="card pd-40" style="width: 18rem;">
								<div class="card-body">								  
								  <img src="http://qbgrow.com/magen/iot-admin/img/drone.svg" alt="">
								  <a href="#" class="card-link">Another link</a>
								</div>
						</div>
						<div class="card" style="width: 18rem;">
								<div class="card-body">
								  <h5 class="card-title">Conexión de Redes</h5>				
								  <p class="card-text"></p>
								  <div class="redes">
									  <a href="">
										  <i class="fa fa-facebook">
											  
										  </i>
									  </a>
								  </div>
								</div>
						</div>
				</div>									
			</div>
			
			
		</main>	
		</div>


	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </body>
</html>